.signature-attributes {
  font-weight: normal;
  margin-left: 3px;
  text-transform: uppercase;
}

article li {
  list-style: disc;
}

body,
.main section article dl h4,
.main section article dl h4 .signature,
.main section article dl h4 .type-signature {
  font-size: 14px;
}

.main section article .container-source,
.signature-attributes {
  font-size: 11px;
}

.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
  max-width: none;
  vertical-align: baseline;
}

.main section article table th,
.main section article table td {
  padding: 1px 5px;
}

.main section article dl dd {
  padding: 0 30px 20px 30px;
}